.carousel {
    display: flex;
    width: 1400px;
    margin: auto;
    position: relative;
}

.carousel__wrapper {
    overflow: hidden;
    display: flex;
}

.carousel__img {
    width: 1400px;
    -webkit-mask-image: linear-gradient(180deg,#000 30%,#00000000);
    mask-image: linear-gradient(180deg,#000 30%,#00000000);
}

.carousel__btn {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    border: none;
    background: none;
    font-size: 40px;
    border-radius: 5px solid grey;
    cursor: pointer;
    padding-top: 100px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 100px;
}

.carousel__btn:active {
    border: 1px solid #007185;
}

.carousel__btn[data-btn-type="left"] {
    left: 0;
}

.carousel__btn[data-btn-type="right"] {
    right: 0;
}

.dots__wrapper {
    display: flex;
    position: absolute;
    bottom: 280px;
    left: 50%;
    transform: translateX(-50%);
    gap: 0 5px;
    cursor: pointer;
}

.dot {
    background-color: #caa5a5;
    width: 10px;
    height: 10px;
    transition: 0.5s ease;
    border-radius: 50%;
}